@import "tailwindcss";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-swamp-50: #f4f5f0;
  --color-swamp-100: #e6e9de;
  --color-swamp-200: #ced6c0;
  --color-swamp-300: #a3b18a;
  --color-swamp-400: #93a279;
  --color-swamp-500: #75875b;
  --color-swamp-600: #5b6a46;
  --color-swamp-700: #475239;
  --color-swamp-800: #3b4331;
  --color-swamp-900: #343b2c;
  --color-swamp-950: #1a1e15;
}
